<body>
  
    <div>
     <h2>DESTINO</h2>
     <select class="form-select" aria-label="Default select example">
       <option disabled selected>Seleccione Destino</option>
       <option value="1">One</option>
       <option value="2">Two</option>
       </select>
    </div>
     
     <div>
       <H2>FECHAS DISPONIBLES</H2>
       <select class="form-select" aria-label="Default select example">
         <option disabled selected>Seleccione Fecha</option>
         <option value="1">One</option>
         <option value="2">Two</option>
          </select>
     </div>

     <div>
        <h2>HORA DE SALIDA</h2>
        <select class="form-select" aria-label="Default select example">
          <option disabled selected>Seleccione Hora De Salida</option>
          <option value="1">One</option>
          <option value="2">Two</option>
        </select>
       </div>

       <div>
        <h2>NUMERO DE PUESTO</h2>
        <select class="form-select" aria-label="Default select example">
          <option disabled selected>Seleccione Numero De Puesto</option>
          <option value="1">One</option>
          <option value="2">Two</option>
         </select>
       </div>
   
     <br/>
     <div class="d-grid gap-2 col-6 mx-auto">
       <button class="btn btn-primary" type="button" >Buscar Disponibilidad</button>
     </div>
   </body>
   
